# Rust build outputs
/backend/target/

/frontend/build/

# IDE / Editor files
/.idea/
/*.iml
/.vscode/

# Pgbouncer credentials
/backend/src/pgbouncer/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment files
.env

# C/C++ build artifacts
**/CMakeLists.txt
**/Makefile
**/*.d
**/*.o
**/*.so
**/*.a
